.editor-container {
  font-family: 'Roboto', sans-serif;
}

.editor-header-bar {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.selector {
  position: relative;
  margin-left: 5px;
  width: 100px;
  margin-right: 50px;
}
